<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:allowBackup="false"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Material.NoActionBar">
        <service
            android:name=".PuaAccessibilityService"
            android:exported="true"
            android:label="@string/accessibility_service_label"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service" />
        </service>

        <service
            android:name=".PuaNotificationListenerService"
            android:exported="true"
            android:label="@string/notification_listener_label"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <receiver
            android:name=".CommandReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.phoneuse.control.CLICK" />
                <action android:name="com.phoneuse.control.CLICK_ID" />
                <action android:name="com.phoneuse.control.SET_TEXT" />
                <action android:name="com.phoneuse.control.SET_FOCUSED_TEXT" />
                <action android:name="com.phoneuse.control.DUMP" />
                <action android:name="com.phoneuse.control.EVENTS" />
                <action android:name="com.phoneuse.control.CLEAR_EVENTS" />
                <action android:name="com.phoneuse.control.NOTIFICATIONS" />
                <action android:name="com.phoneuse.control.OPEN_NOTIFICATION" />
                <action android:name="com.phoneuse.control.LAUNCH" />
                <action android:name="com.phoneuse.control.OPEN_URL" />
                <action android:name="com.phoneuse.control.GLOBAL_ACTION" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
